[submodule "Tools/problem-set-editor"]
	path = Tools/problem-set-editor
	url = https://github.com/jnu-triage-2025/problem-set-editor
[submodule "Tools/unity-merge"]
	path = Tools/unity-merge
	url = https://github.com/ShapeLayer/unity-merge
[submodule "Tools/cellular"]
	path = Tools/cellular
	url = https://github.com/ShapeLayer/cellular
[submodule "Tools/fluent-korean"]
	path = Tools/fluent-korean
	url = https://github.com/snflkd/fluent-korean
